@using ParkingSpace.Models;
@{
  ViewBag.Title = "Index";
  var t = (ParkingTicket)TempData["NewTicket"];
}

<h2>Gate In</h2>

@using (Html.BeginForm("CreateTicket", "GateIn")) {
  <div>
    Plate No.:<br />
    @Html.TextBox("plateNo")<br />

    <br />
    <button type="submit" class="btn btn-success">
      Issue Parking Ticket
    </button>
  </div>
}

@if (t != null) {
  <br />
  <div class="well">
    @t.ID <br />
    @t.PlateNo <br />
    @t.DateIn
  </div>
}